main{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap: 100px;
}
.Formulario{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.Titulo{
    display: flex;
    justify-content:center ;
}
.nombre, .email, .edad, .DNI, .Telefono, .rad, .check, .sele, .boton{
    display: flex;
    justify-content:center ;
    margin: 30px;
}
